<!doctype html>
<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <title>UI 组件之图片裁剪器</title>
    <style type="text/css">
        .cropper__img {
            position: relative;
        }
        .upload__preview, .cropper__img {
            position: relative;
            width: 600px;
            height: 360px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            /*background: url('./bg.jpeg');*/
        }
        .upload__img {
            height: 100%;
            display: none;
        }
        .upload__selector {
            position: absolute;
            left: 0;
            top: 0;
            border: 1px dashed red;
            cursor: move;
            box-sizing: border-box;
        }
        .upload__anchor {
            position: absolute;
            width: 8px;
            height: 8px;
            border: 1px solid #000;
            box-sizing: border-box;
            background-color: #fff;
        }
    </style>
</head>

<body>
    <div id="cropper"></div>
    <!-- <input id="uploadImage" class="upload__btn" type="file" accept="image/*" >
    <div class="upload__preview">
        <img id="uploadPreview" class="upload__img" src="" alt="Image preview" >
        <canvas id="img" width="600" height="360"></canvas>
    </div>
    <input id="width" type="text" placeholder="请输入宽度">
    <input id="height" type="text" placeholder="请输入高度">
    <button id="size">裁剪</button>
    <canvas id="result" width="300" height="240"></canvas>
    <button id="upload">上传图片到服务器</button> -->
    <script type="text/javascript">
        /* 裁剪框构造函数
         */
        function Selector (options) {
            this.options = options
            // 初始宽高
            this.size = options.size
            // 构建裁剪框
            this.createSelector()
            // 初始化锚点拖动事件
            this.initAnchorEvent()
        }
        Selector.prototype.createSelector = function () {
            const selector = document.createElement('div')
            // 裁剪框宽高
            const { width, height } = this.size
            this.anchors = []
            selector.className = 'upload__selector'
            selector.style = `width: ${width}px; height: ${height}px;`
            const temp = document.createDocumentFragment()
            // 创建内部锚点
            for (let i = 0; i < 8; i++) {
                const anchor = document.createElement('div')
                anchor.className = 'upload__anchor'
                this.anchors.push(anchor)
                temp.appendChild(anchor)
            }
            selector.appendChild(temp)
            this.element = selector
            this.renderAnchor()
        }
        /* 更新锚点位置
         */
        Selector.prototype.renderAnchor = function () {
            const { width, height } = this.size
            // 锚点宽高
            const anchorSize = 8
            const left = - anchorSize / 2
            const top = - anchorSize / 2
            const right = - anchorSize / 2
            const bottom = - anchorSize / 2
            const middleX = width / 2 - anchorSize / 2
            const middleY = height / 2 - anchorSize / 2

            const cursorTable = this.cursorTable = {
                0: 'nw-resize',
                1: 'n-resize',
                2: 'ne-resize',
                3: 'e-resize',
                4: 'se-resize',
                5: 's-resize',
                6: 'sw-resize',
                7: 'w-resize'
            }
            // 位置计算
            for (let i = 0; i < 8; i++) {
                const anchor = this.anchors[i]
                if (i === 0) {
                    anchor.style = `left: ${left}px; top: ${top}px; cursor: ${cursorTable[i]};`
                } 
                else if (i === 1) {
                    anchor.style = `left: ${middleX}px; top: ${top}px; cursor: ${cursorTable[i]};`
                } 
                else if (i === 2) {
                    anchor.style = `right: ${right}px; top: ${top}px; cursor: ${cursorTable[i]};`
                }
                else if (i === 3) {
                    anchor.style = `right: ${right}px; top: ${middleY}px; cursor: ${cursorTable[i]};`
                }
                else if (i === 4) {
                    anchor.style = `right: ${right}px; bottom: ${bottom}px; cursor: ${cursorTable[i]};`
                }
                else if (i === 5) {
                    anchor.style = `left: ${middleX}px; bottom: ${bottom}px; cursor: ${cursorTable[i]};`
                }
                else if (i === 6) {
                    anchor.style = `left: ${left}px; bottom: ${bottom}px; cursor: ${cursorTable[i]};`
                }
                else if (i === 7) {
                    anchor.style = `left: ${left}px; top: ${middleY}px; cursor: ${cursorTable[i]};`
                }
            }
        }
        /* 初始化锚点拖动事件
         */
        Selector.prototype.initAnchorEvent = function () {
            const anchors = this.anchors

            const selector = this.element
            const cursorTable = this.cursorTable

            this.changeable = false
            // 只处理右下角锚点的拖动事件
            anchors[4].onmousedown = (event) => {
                event.stopPropagation()
                this.changeable = true
                selector.style.cursor = cursorTable[4]
                this.x = event.x
                this.y = event.y
            }
            document.body.onmouseup = () => {
                this.changeable = false
                selector.style.cursor = 'move'
            }
            document.body.onmousemove = (event) => {
                // 阻止冒泡
                if (this.changeable) {
                    // 旧的宽高值
                    let width = parseInt(/([0-9]+)px/.exec(selector.style.width)[1])
                    let height = parseInt(/([0-9]+)px/.exec(selector.style.height)[1])
                    // 新的宽高值为 当前鼠标位置减去上一次鼠标位置
                    width += event.x - this.x
                    height += event.y - this.y

                    this.x = event.x
                    this.y = event.y

                    selector.style.width = width + 'px'
                    selector.style.height = height + 'px'
                    this.size = {
                        width,
                        height
                    }

                    this.renderAnchor()

                    // 调用外部传过来的方法
                    this.renderCanvas.call(null, width, height)
                }
            }
        }
        /* 返回 dom 节点
         */
        Selector.prototype.getElement = function () {
            return this.element
        }
        /* 裁剪组件构造函数
         */
        function Cropper (options) {
            // 获取容器
            this.container = document.querySelector(options.el)
            // 初始化选择器的宽高
            this.selectorWidth = options.size.width
            this.selectorHeight = options.size.height

            this.init()
        }
        Cropper.prototype.init = function () {
            // 临时容器，最终将该容器插入实际容器(this.container)中
            const tempContainer = this.tempContainer = document.createDocumentFragment()
            // 创建按钮
            this.createChooseBtn() 
            // 创建 imgContainer
            this.createImgContainer()
            // 创建显示图片 canvas 和 ctx
            this.createImg()
            /* 选择图片事件
             */
            this.fileReader = new FileReader()
            this.fileReader.onload = (event) => {
                // img.src = event.target.result
                // img.style.display = 'unset'
                // ctx.drawImage(img, 0, 0, 200, 200) 前 4 个参数是原图片，后四个参数是canvas
                // draw(img, ctx, 0, 0, 100, 60)
                // 创建一个图片标签
                const _image = new Image()
                _image.src = event.target.result
                // 当图片加载完成，就将图片渲染到 canvas 上
                _image.onload = () => {
                    this.imgCtx.drawImage(_image, 0, 0, 400, 400)
                }
                // 创建图片区
            }
            this.container.appendChild(this.tempContainer)
        }
        /* 上传按钮
         */
        Cropper.prototype.createChooseBtn = function () {
            // 创建选择图片按钮
            const chooseBtn = this.chooseBtn = document.createElement('input')
            chooseBtn.className = 'cropper__choose'
            chooseBtn.type ="file" 
            chooseBtn.accept="image/*"

            this.tempContainer.appendChild(chooseBtn)

            chooseBtn.onchange = (event) => {
                // 如果上传的图片数为 0，则返回
                if (event.target.files.length === 0) {
                    return
                }

                // 获取到上传的图片
                const file = event.target.files[0]
                
                // 用来触发 fileReader 的 onload 事件
                this.fileReader.readAsDataURL(file)
                // if (!this.selector) {
                //     let selector = new Selector({
                //         size: {
                //             width: this.selectorWidth,
                //             height: this.selectorHeight
                //         }
                //     })
                //     this.selector = selector.getElement()
                // }
                // this.imgContainer.appendChild(this.selector)
            }
        }
        /* imgContainer ，用来存放 canvas 和 裁剪框的容器
         */
        Cropper.prototype.createImgContainer = function () {
            // 创建 imgContainer
            const imgContainer = this.imgContainer = document.createElement('div')
            imgContainer.className = 'cropper__img'
            this.tempContainer.appendChild(imgContainer)
        }
        /* imgCanvas 用来显示选择的图片的 canvas
         */
        Cropper.prototype.createImg = function () {
            const imgCanvas = this.imgCanvas = document.createElement('canvas')
            imgCanvas.width = 600
            imgCanvas.height = 360
            this.imgContainer.appendChild(imgCanvas)
            // 绘制黑白背景
            const imgCtx = this.imgCtx = imgCanvas.getContext('2d')
            this.renderBackground()
        }
        /* 绘制表示透明的背景
         */
        Cropper.prototype.renderBackground = function () {
            const imgCtx = this.imgCtx
            // 
            const side = 600 / 40
            let _x = Math.ceil(600 / side)
            let _y = Math.ceil(600 / side)
            imgCtx.fillStyle = '#ccc'
            let k = 0
            for (let i = 0; i < _y; i++) {
                for (let j = 0; j < _x; j++) {
                    if ((k + i) % 2 === 0) {
                        imgCtx.fillRect(j * side, i * side, side, side)
                    }
                    k++
                }
            }
            // 填充透明度为 0.1 的黑色遮罩
            imgCtx.fillStyle = 'rgba(0, 0, 0, 0.1)'
            imgCtx.fillRect(0, 0, 600, 360)
        }
        Cropper.prototype.resetImage = function (img) {

        }
        Cropper.prototype.createCanvas = function () {

        }
        /*
         * ========= 页面代码 ============
         */
        document.body.onload = function () {
            // const oFReader = new FileReader()
            // const canvas = document.querySelector('#result')
            // const ctx = canvas.getContext('2d')

            // const img = document.getElementById("uploadPreview")
            // oFReader.onload = function(oFREvent) {
            //     img.src = oFREvent.target.result
            //     img.style.display = 'unset'
            //     // naturalHeight
            //     // ctx.drawImage(img, 0, 0, 200, 200) 前 4 个参数是原图片，后四个参数是canvas
            //     draw(img, ctx, 0, 0, 100, 60)
            // }
            // /* 将指定图片渲染到 canvas 中
            //  * @param <Element> img
            //  * @param <> ctx
            //  * @param <Number> x
            //  * @param <Number> y
            //  * @param <Number> width
            //  * @param <Number> height
            //  */
            // function draw (img, ctx, x, y, width, height) {
            //     // 计算比例
            //     ctx.drawImage(img, x / img.clientWidth * img.naturalWidth, y / img.clientWidth * img.naturalHeight, img.naturalWidth * width / img.clientWidth, img.naturalHeight * height / img.clientHeight , 0, 0, 300, 300 * height / width)
            // }
            
            
            // const previewContainer = document.querySelector('.upload__preview')
            // // 创建裁剪框
            // let w = 100, h = 60
            // const selectorObject = new Selector({
            //     size: {
            //         width: w,
            //         height: h
            //     }
            // })
            // let x = 0, y = 0
            // // 增加方法
            // selectorObject.renderCanvas = function (width, height) {
            //     w = width
            //     h = height
            //     draw(img, ctx, x, y, w, h)
            // }
            // // 获取到裁剪框本身
            // const selector = selectorObject.getElement()
            // /* 上传图片事件
            //  */
            // function loadImageFile(event) {
            //     // 如果上传的图片数为 0，则返回
            //     if (event.target.files.length === 0) {
            //         return
            //     }
            //     // 获取到上传的图片
            //     const oFile = event.target.files[0]
            //     oFReader.readAsDataURL(oFile)
            //     previewContainer.appendChild(selector)
            // }
            // document.querySelector('#uploadImage').onchange = loadImageFile
            // // 裁剪框拖动
            // let dragable = false
            // let layerX = 0
            // let layerY = 0
            // // 点击下去，就可以移动了
            // selector.onmousedown = function (event) {
            //     layerX = event.layerX
            //     layerY = event.layerY
            //     dragable = true
            // }
            // previewContainer.onmouseup = function (event) {
            //     dragable = false
            // }
            // previewContainer.onmousemove = function (event) {
            //     if (dragable && !selectorObject.changeable) {
            //         x = event.pageX - previewContainer.offsetLeft - layerX
            //         y = event.pageY - previewContainer.offsetTop - layerY
            //         selector.style.left = x + 'px'
            //         selector.style.top = y + 'px'
            //         // 移动的时候要重新渲染 canvas
            //         draw(img, ctx, x, y, w, h)
            //     }
            // }
            // // 点击裁剪按钮根据用户定义宽高裁剪
            // const widthInput = document.querySelector('#width')
            // const heightInput = document.querySelector('#height')
            // document.querySelector('#size').onclick = function (event) {
            //     let widhtValue = parseInt(widthInput.value)
            //     let heightValue = parseInt(widthInput.value)

            //     console.log(widhtValue, heightValue)

            //     draw(img, ctx, 0, 0, widhtValue, heightValue)
            // }
            // 上传图片
            // document.querySelector('#upload').onclick = function (event) {
            //     let data = canvas.toDataURL()
            //     data = data.split(',')[1]
            //     data = window.atob(data)
            //     let ia = new Uint8Array(data.length)
            //     for (var i = 0; i < data.length; i++) {
            //         ia[i] = data.charCodeAt(i)
            //     }
            //     const blob = new Blob([ia], {
            //         type:"image/png",
            //         endings:'transparent'
            //     })
            //     // 组建要 post 的数据
            //     const fd = new FormData()
            //     fd.append('filename', blob, 'image.png')

            //     fetch('/upload', {
            //         method: 'POST',
            //         body: fd
            //         // 'content-type': 'multipart/form-data',
            //     })
            //     .then(response => {
            //         console.log(response)
            //         alert('上传成功')
            //     })
            //     .catch(err => {
            //         console.log(err)
            //         alert('上传失败')
            //     })
            // }
            new Cropper({
                el: '#cropper',
                size: {
                    width: 100,
                    height: 60
                }
            })
        }
        
    </script>
</body>

</html>
