{% extends 'base.html' %}
{% block body %}
    <div class="search">
        <input id="search_input" type="text">
        <select id="search_select">
            <option value="iphone5" selected="true">iphone5</option>
            <option value="iphone6">iphone6</option>
            <option value="ipad">ipad</option>
        </select>
        <button id="search_btn">点击搜索</button>
        <table id="search_content">
            <thead>
                <tr>
                    <th>标题</th>
                    <th>简介</th>
                    <th>图片</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
{% endblock %}